<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <h1>WELCOME TO NUKEMAP AR</h1>
    <a href="https://localhost:3000/tabletop.html"><button class="btn btn-link">Table Top Proof Of Concept</button></a>
    <br>
    <a href="https://localhost:3000/marker.html"><button class="btn btn-link">AR.js Marker-Based AR</button></a>
    <br>
    <a href="https://localhost:3000/mapar.html"><button class="btn btn-link">Maps in Marker-Based AR</button></a>
    <br>
    <a href="https://localhost:3000/mapbox.html"><button class="btn btn-link">Mapbox GL JS API Exploration</button></a>
    <br>
    <a href="https://localhost:3000/threejs.html"><button class="btn btn-link">ThreeJS Testing</button></a>
</body>
</html>